* {
  box-sizing: border-box;
  outline: solid blue;
}

body {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: $main-text;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

// .flexbox {
//   // display: flex;
// }

.section {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }

  &-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    color: $secondary-text;

    margin-top: 0;
    margin-bottom: 30px;

    @include for-size(desktop) {
      font-size: 36px;
      line-height: 1.166;
      margin-bottom: 50px;
    }
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
