.social-list {
  @include flexbox();
}

.social-item:not(:last-child),
.join-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  @extend %social-links;
  background-color: $white;

  &:hover,
  &:focus {
    background-color: $accent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-social-link {
  display: block;
  fill: $icon-social-link;
  transition: fill;

  .social-link:hover &,
  .social-link:focus & {
    fill: $white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-size(desktop) {
    justify-content: start;
  }
}

.join-link {
  @extend %social-links;
  background-color: $background-join-link;

  &:hover,
  &:focus {
    background-color: $accent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-join-link {
  display: block;
  fill: $white;
}
