// Цвета

$main-text: #757575;
$secondary-text: #212121;
$white: #ffffff;
$alpha-white: #ffffff99;
$accent: #2196f3;
$accent-alpha: rgba(33, 150, 243, 0.9);
$additional: #000000;
$background-section: #f5f4fa;
$background-hero: #c4c4c4;
$background-modal: rgba(0, 0, 0, 0.2);
$background-footer: #2f303a;
$background-join-link: rgba(255, 255, 255, 0.102);
$background-services-box: rgba(47, 48, 58, 0.8);
$icon-social-link: #afb1b8;
$header-border: #ececec;
$footer-input-placeholder: rgba(255, 255, 255, 0.6);
$portfolio-projects-border: #eeeeee;
$border-close-btn: rgba(0, 0, 0, 0.1);
$form-textarea-border: rgba(33, 33, 33, 0.2);
$form-textarea-placeholder: rgba(117, 117, 117, 0.5);
$form-submit-btn-focus: #188ce8;

// Шрифты

$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;
