.clients-list {
  @include flexbox();
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  @include flexbox($display: inline-flex);

  width: 170px;
  height: 90px;

  border: 1px solid $icon-social-link;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color;

  &:hover,
  &:focus {
    border-color: $accent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-icon {
  fill: $icon-social-link;
  transition: fill;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $accent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
