.page-header {
  padding: 16px 0 16px 0;
  border: 1px solid $header-border;

  @include for-size(tablet) {
    padding: 26px 0 26px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    max-width: 768px;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(desktop) {
    padding: 24px 0 25px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    max-width: 1200px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-list {
    display: none;

    @include for-size(tablet) {
      display: flex;
      align-items: baseline;
      margin-right: 75px;
    }

    @include for-size(desktop) {
      display: flex;
      align-items: baseline;
    }
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-container {
  @include for-size(tablet) {
    display: flex;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $secondary-text;
  transition: color;

  &:hover,
  &-link:focus {
    color: $accent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.studio {
  color: $accent;

  .navigation-item > &::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    bottom: -1px;
    left: 227px;

    background-color: $accent;
    border-radius: 2px;

    @include for-size(desktop) {
      left: 242px;
    }
  }
}

.portfolio {
  color: $accent;

  .navigation-item > &::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 4px;
    bottom: 0;
    left: 325px;

    background-color: $accent;
    border-radius: 2px;

    @include for-size(desktop) {
      left: 341px;
    }
  }
}

.contacts-list {
  display: none;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.contacts-item:not(:last-child) {
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.navigation-contacts {
  @include flexbox($display: inline-flex);
  color: $main-text;
}

.icon-contacts {
  margin-right: 8px;
  fill: $main-text;
  transition: fill;

  @include for-size(desktop) {
    margin-right: 10px;
  }

  .navigation-contacts:hover &,
  .navigation-contacts:focus & {
    fill: $accent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
