.hero-box {
  padding: 200px 0;

  & > .hero-title,
  & > .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-hero;

  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/header-img-new.jpg);
}
