.team {
  background-color: $background-section;
}

.team-list {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item {
  width: 270px;
  height: 428px;
  background-color: $white;
  // margin-right: 30px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include for-size(tablet) {
    margin: 0;

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @include for-size(desktop) {
    margin-right: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.team-name {
  font-weight: 500;
  color: $secondary-text;

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  margin-top: 10px;
  margin-bottom: 16px;
}
